@model IEnumerable<PawsitiveHealthHub.Models.MedRecords>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Medical Records</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diagnosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Treatment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Pet?.PetName
                </td>
                <td>
                    @("Dr. " + item.Vet?.LastName)
                </td>
                <td>
                    @item.Diagnosis
                </td>
                <td>
                    @item.Treatment
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RecordID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.RecordID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.RecordID">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>
