@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="container bg-dark container-right rounded-3">
    <div class="inner-content">
    <h1 class="text-white custom-h1">@ViewData["Title"]</h1>

<style>
    body {
        background-image: url("/images/PHH_LoginBg.jpg");
        background-size: cover;
        background-position: bottom;
    }

    .container-right {
        max-width: 500px;
        margin-left: auto;
        margin-right: 0;
        padding-left: 15px;
        padding-right: 15px;
        box-shadow: 10px 10px 8px -5px #56717a;
    }

    input, label, h1, h2 {
        white-space: nowrap;
    }

    button {
        width: 100%;
        white-space: nowrap;
        max-width: 100%;
    }

    .inner-content {
          padding-left: -2rem;
    }

    .custom-h1 {
        padding-left: 11rem;
    }

    .custom-h2 {
        padding-left: 3rem;
    }

    .form-control {
    width: 100%;
    max-width: 100%;
    }
</style>

        <div class="row">
            <div class="col-md-8 offset-md-2">
                <section>
                    <form id="account" method="post">
                        <h2 class="text-light custom-h2">Welcome back.</h2>
                        <hr />
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                            <label asp-for="Input.Email" class="form-label">Email</label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                            <label asp-for="Input.Password" class="form-label">Password</label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="checkbox mb-3">
                            <label asp-for="Input.RememberMe" class="form-label text-light">
                                <input class="form-check-input" asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                        <div>
                            <button id="login-submit" type="submit" class="btn btn-lg btn-outline-light">Log in</button>
                        </div>
                        <div>
                            <p><a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a></p>
                            <p><a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a></p>
                        </div>
                    </form>
                </section>
            </div>
            <div class="col-md-6 col-md-offset-2">
                <section>
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary form-control" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
